$accent: #37383c;
$text-color: #4a4a4a;
$bg-color: #f9f6e5;
$default-color: #989898;

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 400;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
